
html {
  background-color: white;
  font-size: 18px;
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.container-header {
  display: flex;
  align-items: center;
  color: white;
  width: 960px;
  padding: 1.5rem 0 1.5rem 0.5rem ;
}

.container-header img {
padding-right: 1rem;
height: 1.5rem;
}


.main-banner {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

.headline {
  width: 20rem;
  display: block;
  position: relative;
  top: 9rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-color: black;
  padding: 2rem 3rem;
}

  .headline h4 {
    display: block;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    width: auto;
    position: relative;
}

.headline h1 {
    display: block;
    position: relative;
    font-size: 2rem;
    margin: 0.25rem auto;
    font-weight: bold;
    width: auto;
}

nav {
    width: 100%;
    display: block;
    background-color: firebrick;
    color: white;
}


.container-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0.75rem 0;
}

.container-pictures {
  width: 960px;
  display: block;
  background-color: white;
  }

.products {
    display: flex;
    max-width: 960px;
    margin: 3rem 0 0 0;

    justify-content: space-between;
}

.product {
  width: 30%;
  display: block;
}

.product-image {
  display: flex;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  justify-content: center;
  align-items: center;


  }

.product-image img {
  max-width: 8rem;
}


.description {
  display: block;
  text-align: center;
  background-color: black;
  padding: 0.5rem;
  color: white;
}

  .business-info {
    display: flex;
    width: 960px;
    margin: 3rem 0 0 0;
    justify-content: space-between;
  }

  .info {
    display: block;
    width: 35%;

  }

  .title {
    display: block;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
  }

footer {
  display: block;
  background-color: black;
  width: 100%;
  margin-top: 4rem;
  padding: 5em 0;
  color: white;
}

.container-footer {
  display: block;
  max-width: 960px;
  margin: 0 auto;

}
