
html {
  background-color: white;
  font-size: 18px;
}

.header {
  background-color: black;
  width: 100%;
  display: block;
  justify-content: center;
}


.container-header {
  display: block;
  color: white;
  max-width: 960px;
  padding-left: 0.5rem;
}

.container-header img {
padding-right: 1.5rem;
height: 1.5rem;
padding: ;
}

.container {
  display: block;
  color: white;
}

.main-banner {
  display: block;
  background-image: url(./images/moto.jpeg);
}